*{
    margin: 0;
    padding: 0;
}

body {
  background-image: url(img/nice.jpg);
  background-size: cover;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
}

nav p {
  font-family: arial;
  color #222;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: arial;
  color #222;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border-radius: 0px 0px 4px 4px
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background-color: #f3f3f3;
}

#child {
    line-height: 100px;
}

.button {
  background-color: #fff;
  border: none;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
}

.clickhere {border-radius: 8px;}

.centered-video {
    width: 560px;
    height: 315px;

    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
}

{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.centered-stars {
    width: 180px;
    height: 200px;

    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
}

.centered-text {
    left: 0;
    line-height: 20px;
    margin-top: 250px;
    margin-left: 678px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 100%;
    display: flex;
    word-break: normal;
    max-width: 565px;
}

.left-text {
    left: 25px;
    line-height: 20px;
    margin-top: -110px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 100%;
    display: flex;
    word-break: normal;
    max-width: 650px;
}

.right-text {
    right: 25px;
    line-height: 20px;
    margin-top: -110px;
    position: absolute;
    text-align: left;
    top: 50%;
    width: 100%;
    display: flex;
    word-break: normal;
    max-width: 650px;
}

.title-text {
    left: 0;
    line-height: 185px;
    margin-top: -250px;
    position: absolute;
    text-align: center;
    background-color: white;
    top: 50%;
    width: 100%;
}

.feedback-text {
    left: 0;
    line-height: 200px;
    margin-top: -250px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.bottom-text {
    left: 0;
    line-height: 220px;
    margin-top: 180px;
    position: absolute;
    text-align: left;
    padding-left: 816px;
    top: 50%;
    width: 100%;
}

.submit1 {
    line-height: 220px;
    margin-top: 350px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.centered-slider {
    left: 0;
    line-height: 20px;
    margin-top: 250px;
    margin-left: 888px;
    position: absolute;
    top: 50%;
    width: 100%;
}
